.home {
    background-color: rgb(29, 31, 29);
    height: 93.25vh;
}
.info {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../../public/GALAXY.jpg");
    height: 50vh;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5%;
}

.text {
    display: inline-block;
}

.titles {
    margin: 0;
    font-size: 6vw;
    font-family: "JetBrains Mono", monospace;
    color: orange;
}

.connectTitle {
    margin: 2.5vh;
    font-size: 5vh;
    font-family: "JetBrains Mono", monospace;
    color: white;
    
}
figure {
    display: inline-block;
}

.connectCaption {
    color: orange;
    font-size: 2.5vh;
    font-family: "JetBrains Mono", monospace;
}

.connections img {
    height: 15vh;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 1500px) {
    .home {
        background-color: rgb(29, 31, 29);
        height: 100vh;
    }
    .info {
        margin-top: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../../public/GALAXY.jpg");
        height: 30vh;
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 5%;
    }
    
    .text {
        display: inline-block;
    }
    
    .titles {
        margin: 0;
        font-size: 6vw;
        font-family: "JetBrains Mono", monospace;
        color: orange;
    }
    
    .connectTitle {
        margin: 2.5vh;
        font-size: 5vh;
        font-family: "JetBrains Mono", monospace;
        color: white;
        
    }
    figure {
        display: inline-block;
    }
    
    .connectCaption {
        color: orange;
        font-size: 2.5vh;
        font-family: "JetBrains Mono", monospace;
    }
    
    .connections img {
        height: 15vh;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 500px) {
    .home {
        background-color: rgb(29, 31, 29);
        height: 93.25vh;
    }
    .info {
        margin-top: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../../public/GALAXY.jpg");
        height: 25vh;
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 5%;
    }
    
    .text {
        display: inline-block;
    }
    
    .titles {
        margin: 0;
        font-size: 15vw;
        font-family: "JetBrains Mono", monospace;
        color: orange;
    }
    
    .connectTitle {
        font-size: 10vw;
        font-family: "JetBrains Mono", monospace;
        color: white;
        
    }
    figure {
        display: inline-block;
    }
    
    .connectCaption {
        color: orange;
        font-size: 2.5vh;
        font-family: "JetBrains Mono", monospace;
    }
    
    .connections img {
        height: 25vh;
    }

    .connections {
        height: 75vh;
        background-color: rgb(29, 31, 29);
    }
}